body{
  margin : o;
  padding:0;
  background-color: skyblue;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0px 0px 3px rgba(0,0,0,3);
}

img{
  width: 100%;
  margin:0;
  vertical-align: top;
}

header{
  background-color: skyblue;
  color:#fff;
  width: 100%;
  position: fixed;
  top:0;
  z-index: 100;
}

header h1{
  margin-top: 0;
  font-size: 25px;
  padding: 5px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}


